build
build-release
.vscode
.aider*
data/spells/
data/decks/
data/match_decks.json
server/**/bin/
server/**/obj/
server/**/TestResults/
data/*.lock
data/guest*.json
data/maps/
data/replays/
*.ini
data/campaigns/*/save.json
data/campaigns/*/backpack/
